.chat_msg{
    display: flex;
    padding: 10px;
    align-items: left;
}

.msg_body{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.msg_info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.msg_name{
    font-size: medium;
    font-weight: bold;
}

.msg_time{
    font-size: x-small;
    padding-left: 5px;
    color: gray;
}